* {
    text-align: center;
    font-family: Helvetica, Dotum, '돋움', Apple SD Gothic Neo, sans-serif;
  }
  
  img {
    width: 150px;
    border: 3px solid;
  }
  
  .container {
    width: 600px;
    margin: auto;
    display: flex;
  }
  
  p {
    flex: 1;
    text-align: left;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  ul {
    flex: 1;
    text-align: left;
    padding: 0px;
    margin-left: 10px;
  }
  
  li {
    background-color: powderblue;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    justify-content:space-between;
    align-items: stretch;
    display: flex;
    font-size: 15px;
  }
  
  li img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  
  }